.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.phpcs.xml export-ignore
composer.json export-ignore
composer.lock export-ignore
docker-compose.yml export-ignore
Dockerfile export-ignore
Makefile export-ignore
CONTRIBUTING.md export-ignore
README.md export-ignore
/.github export-ignore
nacc2/src/ export-ignore
nacc2/package.json export-ignore
nacc2/package-lock.json export-ignore
nacc2/node_modules/ export-ignore
nacc2/vite.config.js export-ignore
nacc2/LICENSE.txt export-ignore
nacc2/README.md export-ignore
nacc2/index.html export-ignore
