/***************************************************************************/
/**
    The NA Cleatime Calculator (NACC)
    
    NACC is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/
/** This is the overall container */
.NACC-Instance {
    border-radius: 0.4em;
    border: solid 1px gray;
    background: linear-gradient(to bottom, gray, white);
}

.NACC-Instance .NACC-Header,
.NACC-Instance .NACC-Prompt-Label {
    font-family: Arial,Sans-Serif;
    color: black;
}

/** This is the header, at the top. */
.NACC-Instance .NACC-Header {
    font-size: large;
    font-weight: bold;
}

.NACC-Instance .NACC-Fieldset {
    border-radius: 0.3em;
    border: solid 1px gray;
    padding: 0.25em;
}

.NACC-Instance .NACC-Legend {
    border-radius: 0.25em;
    border: solid 1px gray;
    padding: 0.25em;
    background: linear-gradient(to top, gray, white);
}
