/***************************************************************************/
/**
    The NA Cleatime Calculator (NACC)
    
    NACC is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/

/** This is the overall container */
.NACC-Instance {
    width: 100%;
}

/** This is a generic "breaker" element that is designed to break floats. */
.NACC-Instance .breaker {
    float: none;
    clear: both;
}

/** This is the header, at the top. */
.NACC-Instance .NACC-Header {
    padding: 0.25em;
    text-align: center;
}

/** This is the label for the popups. */
.NACC-Instance .NACC-Prompt-Label {
    display: block;
}

/* These rules apply to all the selects and the calculate button. */
.NACC-Instance .NACC-Legend select,
.NACC-Instance .NACC-Legend input {
    display: block;
    float:left;
    margin-left: 0.125em;
}
