/***************************************************************************/
/**
    The NA Cleatime Calculator (NACC)
    
    NACC is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/

/** This is the overall container */
.NACC-Instance {
    width: 100%;
}

/** This is a generic "breaker" element that is designed to break floats. */
.NACC-Instance .breaker {
    float: none;
    clear: both;
}

/** This is the header, at the top. */
.NACC-Instance .NACC-Header {
    padding: 0.25em;
    text-align: center;
}

/** This is the label for the popups. */
.NACC-Instance .NACC-Prompt-Label {
    display: block;
}

/* These rules apply to all the selects and the calculate button. */
.NACC-Instance .NACC-Legend select,
.NACC-Instance .NACC-Legend input {
    display: block;
    float:left;
    margin-left: 0.125em;
}

/****************************************************/
/*              DEFAULT (GRAY) STYLE                */
/****************************************************/

/** This is the overall container */
.NACC-Instance {
    border-radius: 0.4em;
    border: solid 1px gray;
    background: linear-gradient(to bottom, gray, white);
}

.NACC-Instance .NACC-Header,
.NACC-Instance .NACC-Prompt-Label {
    font-family: Arial,Sans-Serif;
    color: black;
}

/** This is the header, at the top. */
.NACC-Instance .NACC-Header {
    font-size: large;
    font-weight: bold;
}

.NACC-Instance .NACC-Fieldset {
    border-radius: 0.3em;
    border: solid 1px gray;
    padding: 0.25em;
}

.NACC-Instance .NACC-Legend {
    border-radius: 0.25em;
    border: solid 1px gray;
    padding: 0.25em;
    background: linear-gradient(to top, gray, white);
}

/****************************************************/
/*             BT (BLUE AND WHITE)) STYLE           */
/****************************************************/

/** This is the overall container */
.NACC-Instance.NACC-BT {
    border-color: #009;
    background: linear-gradient(to bottom, #009, white);
}

.NACC-Instance.NACC-BT .NACC-Prompt-Label {
    color: #009;
}

.NACC-Instance.NACC-BT .NACC-Header {
    color: white;
}

.NACC-Instance.NACC-BT .NACC-Fieldset {
    border-color: white;
}

.NACC-Instance.NACC-BT .NACC-Legend {
    border-color: white;
    background: linear-gradient(to top, #009, white);
}

